{% extends "base.html.twig" %}

{% block body %}
    <div class"container my-4">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary">Ajouter le produit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}