{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                IMAGE
            </div>
            <div class="col-lg-6">
                <h1>{{ product.name }} </h1>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
            </div>
        </div>
    </div>

{% endblock %}